In [1]:
!pip install yfinance
#!pip install pandas
#!pip install requests
!pip install bs4
#!pip install plotly

Requirement already satisfied: yfinance in c:\users\mmishra30\anaconda3\lib\site-packages (0.1.55)
Requirement already satisfied: requests>=2.20 in c:\users\mmishra30\anaconda3\lib\site-packages (from yfinance) (2.24.0)
Requirement already satisfied: lxml>=4.5.1 in c:\users\mmishra30\anaconda3\lib\site-packages (from yfinance) (4.6.1)
Requirement already satisfied: numpy>=1.15 in c:\users\mmishra30\anaconda3\lib\site-packages (from yfinance) (1.19.2)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\mmishra30\anaconda3\lib\site-packages (from yfinance) (0.0.9)
Requirement already satisfied: pandas>=0.24 in c:\users\mmishra30\anaconda3\lib\site-packages (from yfinance) (1.1.3)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\mmishra30\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in c:\users\mmishra30\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\mmishra30\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mmishra30\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2020.6.20)
Requirement already satisfied: pytz>=2017.2 in c:\users\mmishra30\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\mmishra30\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\mmishra30\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: bs4 in c:\users\mmishra30\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\mmishra30\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\mmishra30\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)

In [2]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [3]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data.Date, infer_datetime_format=True), y=stock_data.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data.Date, infer_datetime_format=True), y=revenue_data.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

In [4]:
TSLA = yf.Ticker('TSLA')

In [5]:
tesla_data = TSLA.history(period= 'max')

In [6]:
tesla_data.reset_index().head()

        Date   Open   High    Low  Close    Volume  Dividends  Stock Splits
0 2010-06-29  3.800  5.000  3.508  4.778  93831500          0           0.0
1 2010-06-30  5.158  6.084  4.660  4.766  85935500          0           0.0
2 2010-07-01  5.000  5.184  4.054  4.392  41094000          0           0.0
3 2010-07-02  4.600  4.620  3.742  3.840  25699000          0           0.0
4 2010-07-06  4.000  4.000  3.166  3.222  34334500          0           0.0

In [7]:
url = 'https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'

html_data = requests.get(url).text

In [8]:
soup = BeautifulSoup(html_data, 'html.parser')
table = soup.find('table')

df_tesla = pd.DataFrame(columns=['Year','Annual Revenue (Millions of US $)'])

for row in table.find("tbody").find_all("tr"):
    col = row.find_all('td')
    Year = col[0].string
    Mount = col[1].string
    df_tesla=df_tesla.append({'Year': Year, 'Annual Revenue (Millions of US $)': Mount },ignore_index=True)
    
df_tesla

    Year Annual Revenue (Millions of US $)
0   2020                           $31,536
1   2019                           $24,578
2   2018                           $21,461
3   2017                           $11,759
4   2016                            $7,000
5   2015                            $4,046
6   2014                            $3,198
7   2013                            $2,013
8   2012                              $413
9   2011                              $204
10  2010                              $117
11  2009                              $112
12  2008                               $15

In [9]:
url = 'https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'
tesla_revenue = pd.read_html(url)
tesla_revenue = tesla_revenue[1]
tesla_revenue.columns=['Date','Tesla Quarterly Revenue(Millions of US$)']
tesla_revenue.head()

         Date Tesla Quarterly Revenue(Millions of US$)
0  2020-12-31                                  $10,744
1  2020-09-30                                   $8,771
2  2020-06-30                                   $6,036
3  2020-03-31                                   $5,985
4  2019-12-31                                   $7,384

In [10]:
tesla_revenue.dropna(inplace=True)
tesla_revenue.tail()

          Date Tesla Quarterly Revenue(Millions of US$)
41  2010-09-30                                      $31
42  2010-06-30                                      $28
43  2010-03-31                                      $21
45  2009-09-30                                      $46
46  2009-06-30                                      $27

In [11]:
tesla_revenue.tail()

          Date Tesla Quarterly Revenue(Millions of US$)
41  2010-09-30                                      $31
42  2010-06-30                                      $28
43  2010-03-31                                      $21
45  2009-09-30                                      $46
46  2009-06-30                                      $27

In [12]:
gme = yf.Ticker('GME')

In [13]:
GME_ticker = gme.history(period='max')

In [14]:
GME_ticker.reset_index().head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13,6.480513,6.773399,6.413183,6.766666,19054000,0.0,0.0
1,2002-02-14,6.850831,6.864296,6.682506,6.733003,2755400,0.0,0.0
2,2002-02-15,6.733001,6.749833,6.632006,6.699336,2097400,0.0,0.0
3,2002-02-19,6.665671,6.665671,6.312189,6.430017,1852600,0.0,0.0
4,2002-02-20,6.463681,6.648838,6.413183,6.648838,1723200,0.0,0.0

In [16]:
url = ' https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue'
html_data = requests.get(url).text

In [17]:
df_gme = pd.read_html(html_data)
df_gme = df_gme[0]
df_gme.columns=['Year','GameStop Annual Revenue(Millions of US $)']
df_gme

    Year GameStop Annual Revenue(Millions of US $)
0   2020                                    $6,466
1   2019                                    $8,285
2   2018                                    $8,547
3   2017                                    $7,965
4   2016                                    $9,364
5   2015                                    $9,296
6   2014                                    $9,040
7   2013                                    $8,887
8   2012                                    $9,551
9   2011                                    $9,474
10  2010                                    $9,078
11  2009                                    $8,806
12  2008                                    $7,094
13  2007                                    $5,319
14  2006                                    $3,092
15  2005                                    $1,843